body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr 25px;;
  margin: 0;
  height: 100vh;
  background-color: aliceblue;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(76, 100, 121);
}
.nav-bar ul,
li,
a {
  display: flex;
  gap: 15px;
  list-style-type: none;
  text-decoration: none;
  font-weight: 900;
  font-size: 2rem;
  color: white;
}

.book-container {
  display: grid;
  grid-template-columns: 0.5fr;
  justify-content: center;
  gap: 4px;
  padding-top: 4px;
  padding-bottom: 4px;

  background: rgb(138, 138, 180);
}
.book-card {
  border: 2px groove rgb(226, 229, 232);
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-weight: 900;
  color: antiquewhite;
}
.footer {
  background-color: rgb(125, 186, 145);

  color: rgb(235, 235, 235);
  display: flex;
  justify-content: center;
  align-items: center;
}
